@charset "utf-8";
/* CSS Document */

body{
	display: flex;
	flex-direction: column;
	margin: 0px;
}
header{
	padding-top: 50px;
	width: 100%;
	background-image: url("img/background1.svg");
	background-size: cover;
	text-align: center;
	background-attachment: fixed;
}
main{
	display: flex;
	justify-content: center;
	padding:30px 0px 50px 0px;
	background-image:url("img/fondo_1.svg");
	background-attachment: fixed;
	background-size: cover;
}
h1 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 60px;
	color:white;
}
h2{
	font-family: "Josefin Sans", sans-serif;
	font-size: 30px;
	color:white;
}
h3{
	color: white;
	font-size: 25px;
}
h3, h4{
	font-family: "Josefin Sans", sans-serif;
	font-variant-caps:small-caps;
}
h4{
	font-size: 20px;
}
p, li{
	font-family: "Archivo", sans-serif;
	font-size: 18px;
}
footer{
	padding: 5px;
	height: 250px;
	display: flex;
	flex-direction: column;
	background-image: url("img/backgroundfooter_1.svg");
	background-attachment: fixed;
	background-size: cover;
	align-items:center;
}
.footerpics{
	width: 19%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:5px 0px 5px 0px;
}
a{
	color:black;
	text-decoration: none;
	transition: 0.5s;
}
a:hover{
	font-size: 23px;
}
.izquierda{
	width: 40%;
	padding-left: 5%;
	padding-right: 8%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.derecha{
	width: 40%;
	padding-left: 8%;
	padding-right: 5%;
	box-sizing: border-box;
}
.misredes{
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
img{
	transition: 0.5s;
}
img:hover{
	transform: scale(1.2)
}
span{
	font-weight: bold;
}