@charset "utf-8";
/* CSS Document */

body{
	display: flex;
	flex-direction: column; /*el body completo tiene un margin de 8px que viene por default aplicado, como resultado de diseño final no se ve tan bien*/
}
header{
	padding-top: 50px;
	width: 100%;
	height: 570px;
	background-image: url("img/background1.svg");
	background-repeat: no-repeat;
	background-size: 120% auto;
	text-align: center;
	background-attachment: fixed;
}
main{
	display: flex;
	align-items: flex-start; /*esta propiedad no hace nada*/
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 50px;
	background-image:url("img/fondo_1.svg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 60px;
	color:white;
}
h2{
	font-family: "Josefin Sans", sans-serif;
	font-size: 30px;
	color:white;
}
h3{
	color: white;
	text-decoration: underline;
}
h3, h4{
	font-family: "Josefin Sans", sans-serif;
	font-size: 22px;
}
h4{
	text-decoration: underline;
}
p, li{
	font-family: "Archivo", sans-serif;
	font-size: 18px;
}
footer{
	padding: 20px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-image: url("img/backgroundfooter_1.svg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
}
.footerpics{
	width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
}
.redes{
	width: 560px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
a{
	color: black;
	text-decoration: none;
	transition: 0.5s;
}
a:hover{
	font-size: 25px;
}
.izquierda{
	width: 40%;
	padding-left: 50px;
	padding-right: 8%; /*en lugar de usar paddings para separar los elementos es más prolijo utilizar la progpiedad gap en el padre, o sea main. esta propiedad se utiliza con cualquier valor pero con px va bien, por ejemplo gap: 20px; */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.derecha{
	width: 40%;
	padding-left: 8%; /*esto igual que lo anterior*/
	padding-right: 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	
}
img{
	transition: 0.5s;
}
img:hover{
	transform: scale(1.3)
}
span{
	font-weight: bold;
}
